* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --titlefont: "Poppins", sans-serif;
  --mainfont: "Source Sans 3", sans-serif;
  --bluecolor: #00c3da;
  --hovercolor: #00d5ee;
  --gray: #787878;
}
::selection {
  background-color: black;
  color: white;
}
body:has(.home:target) .home-link,
body:has(.about:target) .about-link,
body:has(.team:target) .team-link,
body:has(.services:target) .services-link,
body:has(.working:target) .working-link,
body:has(.pricing:target) .pricing-link,
body:has(.contact:target) .contact-link {
  color: red;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif; */
/*slider*/

.title {
  margin-top: 50px;
  position: relative;
}
.title h2 {
  font-family: var(--titlefont);
  font-weight: 700;
  font-size: 38px;
  position: relative;
}

.title p {
  color: var(--gray);
  font-family: var(--mainfont);
  font-weight: 400;
  font-size: 18px;
}
.title h2::before {
  content: "G";
  position: absolute;
  top: -30px;

  font-size: 70px;
  color: #eee;
  z-index: -1;
}

/*services*/
.services {
  margin-bottom: 150px;
  background-color: #626262;
  color: white;
  padding: 100px 0;
}
.service-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-title h4 {
  font-family: var(--titlefont);
  font-size: 13px;
  font-weight: 600;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.services-2row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-title {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services-title h2 {
  position: relative;
  font-family: var(--titlefont);
  font-size: 38px;
  font-weight: 700;
  z-index: 10;
  text-align: center;
}
.services-title h2::before {
  content: "w";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  color: #eee;
  z-index: 0;
  transform: translate(-50%, -50%);
}
.services ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 20px 0;
}
.ul {
  width: 50%;
}
.services ul li {
  width: 50%;
  font-family: var(--mainfont);
  font-weight: 400;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .services-title {
    width: 100%;
  }
  .ul {
    width: 100%;
  }
  .ul li {
    width: 100%;
  }
  .services h4 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .services-title {
    width: 100%;
  }
  .ul {
    width: 100%;
  }
  .services h4 {
    width: 30%;

    margin: 20px 10px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .services-title {
    width: 45%;
  }
  .services-title h2 {
    text-align: left;
  }
  .services-title h2::before {
    left: 20px;
  }
  .ul {
    width: 50%;
  }
  .services h4 {
    width: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

/*pricing*/

.pricing {
  margin-bottom: 100px;
}
.pricing .title {
  text-align: center;
}
.pricing .title h2::before {
  right: 50%;
  transform: translatex(50%);
}
.slider-title {
  text-align: center;
  font-family: var(--titlefont);
  font-size: 13px;
  color: #1f1f1f;
  font-size: 13px;
}
.prices {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-evently;
  margin-bottom: 100px;
  margin-top: 100px;
}
.pace-services {
  font-family: var(--mainfont);
  font-weight: 400;
  color: var(--gray);
}
.price-box a {
  background-color: var(--bluecolor);
  padding: 12px 20px;
  color: white;
  width: fit-content;
  text-decoration: none;
  font-family: var(--titlefont);
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  transition: all 0.5s;
}
.price-box a:hover {
  background-color: var(--hovercolor);
  transform: translateY(-2px);
}
.price-box:hover {
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
}
.price {
  font-family: var(--titlefont);
  font-size: 55px;
  font-weight: 500;
  color: #1f1f1f;
  position: relative;
}
.price::before {
  content: "$";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 18px;
}
.bestvalue {
  transform: scale(1.1, 1.1);
}
.bestvalue .price {
  color: var(--bluecolor);
}
.bestvalue .price::before {
  color: var(--bluecolor);
}
.pace {
  font-family: var(--titlefont);
  font-size: 13px;
  font-weight: 400;
  color: #1f1f1f;
}
.price-box {
  width: 23%;
  height: 400px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.price-box .box-line {
  height: 1px;
  background-color: #f0f0f0;
}
.box {
  position: relative;
  height: 300px;
  width: 50%;
  background-color: white;
  margin: 50px auto;
  text-align: center;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}
.pricing {
  background-color: #f7f7f7;
}
.pricing-caption {
  width: 70%;
  margin: auto;
}
.pricing-caption h4 {
  font-family: var(--titlefont);
  font-weight: 700;
  font-size: 24px;
  color: #1f1f1f;
}

.pricing-caption p {
  font-family: var(--mainfont);
  font-weight: 300;
  font-size: 18px;
  color: var(--gray);
}
.box img {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}
.pricing-caption-2 {
  font-family: var(--titlefont);
  font-weight: 500;
  font-size: 12px;
  color: var(--gray);
  line-height: 18px;
}

.carousel-control-next-icon {
  background-image: url(../imgs/arrow-right-solid.svg);
}
.carousel-control-prev-icon {
  background-image: url(../imgs/arrow-left-solid.svg);
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .box {
    width: 100%;
  }
  .price-box {
    width: 100%;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .price-box {
    width: 48%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .box {
    width: 50%;
  }
  .price-box {
    width: 23%;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

/* footer */

footer {
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
iframe {
  width: 50%;
}

footer .title h2::before {
  left: -15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.form-info form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  font-family: var(--titlefont);
}
input {
  width: 80%;
  border: 2px solid #eee;
  height: 50px;
  margin: auto;
}
#message {
  height: 100px;
}
.form button {
  width: 170px;
  padding: 0 30px;
  height: 50px;
  background-color: var(--bluecolor);
  color: white;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.5s;
}
/* button:hover{
    background-color: var(--hovercolor);
    transform: translateY(-2px);
} */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  iframe {
    width: 100%;
  }
  .form {
    width: 80%;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  iframe {
    width: 100%;
  }
  .form {
    width: 80%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  iframe {
    width: 50%;
  }
  .form {
    width: 35%;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: initial;
}
.pricing .carousel-control-next:hover {
  transform: translateX(4px);
}
.pricing .carousel-control-prev:hover {
  transform: translateX(-4px);
}
/*
header
*/
.img {
  width: 100%;
  height: 100%;
}
.carousel-item {
  position: relative;
}
.img1caption,
.img2caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}
.img1caption h1,
.img2caption h1 {
  font-family: var(--titlefont);
  font-weight: 700;

  font-size: 100px;
  text-transform: capitalize;
}
.img1caption p,
.img2caption p {
  font-family: var(--mainfont);
  font-weight: 400;
  font-size: 18px;
  margin-block: 30px;
}
.header-b1,
.header-b2 {
  color: white;
  display: inline-block;
  transition: all 1s;
  text-decoration: none;
}
.header-b1 {
  background-color: #00c3da;
  width: 120px;
  padding: 15px;
  border-radius: 5px;
  margin-right: 30px;
}
.header-b1:hover {
  background-color: var(--hovercolor);
  transform: translateY(-2px);
}
.header-b2 {
  width: 120px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.header-b2:hover {
  background-color: white;
  color: black;
}

.layer::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

/*nav*/
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background-color: white;
  flex-direction: row;
  flex-wrap: nowrap;
}

.right {
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.links {
  width: 85%;
}

.logo img {
  height: 40px;
}
.links ul {
  display: flex;
  justify-content: space-evenly;
  border-right: 1px solid #eee;
  width: 100%;
  list-style-type: none;
}
.links a {
  text-decoration: none;
  color: white;
  font-family: var(--titlefont);
  font-size: 13px;
  color: black;
  transition: all 0.5s;
  font-weight: 500;
}
.links a:hover {
  color: var(--gray);
}
.icons {
  justify-self: right;
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.about{
    margin: 100px auto;
    text-align: center;
    width: 45%;

}
.about h3{
    font-family: var(--titlefont);
    font-size: 13px;
    color: #1f1f1f;
    font-weight: 500;
    text-transform: uppercase;
}
.about p{
    font-family: var(--mainfont);
    font-size: 24px;
    font-weight: 300;
    color: var(--gray);
    margin-block: 30px;
}
.about a{
    font-family: var(--titlefont);
    font-size: 11px;
    color: #1f1f1f;
    font-weight: 500;
    border: 1px solid black;
    transition: all 0.5s;
    text-decoration: none;
    padding: 15px 30px;
}
.about a:hover{
    color: white;
    background-color: #1f1f1f;
}
.after-it::after{
    content: "";

}

.longline{
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin: 40px 0;
}
.team{
    margin-bottom: 80px;
}
.team .title{
    text-align: center;
    margin:  75px 0;
}
.team .title h2::before{
    left: 50%;
    transform: translateX(-50%);
}
.team-boxes{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.team-box{
    width: 23%;
    position: relative;

}
.team-box img{
    width: 100%;
    height: 100%;

}
.team-box i{
    color: white;
}

.team-box .team-caption{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 195, 218, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    overflow: hidden;
    opacity: 0;
    transition: top 0.3s;
}
.team-box:hover .team-caption{
    opacity:1;
    top: 0;
}
.team-caption .icons{
    display: flex;
    justify-content:space-around ;
    width: 30%;
    margin-top: 20px;
    
}
.team-caption .img-text h4{
    font-family: var(--titlefont);
    font-weight: 600;
    font-size: 13px;
}
.team-caption .img-text p{
    font-family: var(--titlefont);
    font-weight: 400;
    font-size: 12px;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .team-box{width: 100%;}
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    .team-box{width: 45%;}
  }
  
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    .team-box{width: 23%;}
  }
  
.header-slider{
    position: relative;
}
  .div-next,.div-prev{
    height: fit-content;
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px white solid;
    width: 40px;
    transition: left 1s;
    width: fit-content;
  }
  .div-next{
    transform:translateY(50%) ;
  }
  .div-prev{
    transform:translateY(-50%) ;
  }
  .div-next:hover.div-next::after,.div-prev:hover::after{
    width: 100%;

  }
  .div-next::after,.div-prev::after{
    content: "";
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    
    overflow: hidden;
    z-index: 20;
  }
  .after-it::after{
    content: "";
    color: #00c3da;
    animation:text alternate infinite 5s;
  }
  @keyframes text {
    0%{content: "apps|";}
    10%{content: "ap|";}
    20%{content: "|";}
    30%{content: "soft|";}
    40%{content: "softwares|";}
    50%{content: "soft|";}
    60%{content: "|";}
    70%{content: "web|";}
    80%{content: "websites|";}
    90%{content: "web|";}
    100%{content: "|";}
  }